{% extends "admin/main.html" %}

{% block title %}Admin panel - Категории{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/admin">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/categories">Категории</a></li>
        <li class="breadcrumb-item active" aria-current="page">Создание новой категории</li>
    </ol>
</nav>
<h3 class="text-center mb-2">Заполните форму</h3>
<form action="/admin/categories/store" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="{{ category.id }}">
        <label for="name">Название</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" value="{{ category.name }}">
        <small id="nameHelp" class="form-text text-muted">Название должно содержать минимум 2 два символа</small>
    </div>
    <div class="form-group">
        <label for="status">Статус</label>
        <select class="form-control" id="status" name="status">
            <option {{ category.status == 0 ? 'selected' : '' }} value="0">Неактивна</option>
            <option {{ category.status == 1 ? 'selected' : '' }} value="1">Активна</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}