<div class="modal-dialog" style="
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;">
    <div class="modal-content">
        <div class="modal-header">
            Confirmation
        </div>
        <div class="modal-body">
            You really want to delete {{ target }}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a class="btn btn-orange btn-ok">Confirm</a>
        </div>
    </div>
</div>