{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
        <div class="container">
            <a class="navbar-brand" href="/">PracticeShop</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Секции<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/categories">Секция категорий</a>
                        <a class="dropdown-item" href="#">Секция продуктов</a>
                        <a class="dropdown-item" href="#">Секция заказов</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}